<header>
  <style>
    h1#shop-header {
      font-size: large;
    }
  </style>

  <h1 id="shop-header">{{ shop.name }}</h1>

  <ul>
  {% for link in linklists.main-menu.links -%}
    <li>{{ link.title | link_to: link.url }}</li>
  {%- endfor %}
  </ul>

</header>